# GENERAL SETTINGS
NODE_ENV="development"
PORT=5000

# DATABASE
DATABASE_URL="postgresql://user:password@localhost:5432/spotify_clone"

# S3
S3_ACCESS_TOKEN="minioadmin"
S3_SECRET_ACCESS_KEY="minioadmin"
S3_ENDPOINT="http://127.0.0.1:9000"

# REDIS
REDIS_HOST="localhost"
REDIS_PORT=6379

# JWT
JWT_ACCESS_SECRET="ae128d368007d3f884571e3b77eec2c8c6c119936420e56c45de6b3b71adf4b2"
JWT_ACCESS_EXPIRES_IN=86400000

JWT_REFRESH_SECRET="265cf728752b2ddf624552b793d5cf980296791c78c1bd906abce50bc23e6f29"
JWT_REFRESH_EXPIRES_IN=604800000

# PASSWORD
SALT_ROUNDS=10

# EMAIL
SMTP_HOST="localhost"
SMTP_PORT=1025
SMTP_USER="leytox"
SMTP_PASS="b5qpqRrRFz887d9XAy"
SMTP_SECURE=false

# ETC
APP_BASE_URL="http://localhost:5000"
